/* sign-up.component.css */

.background-image {
  background-image: url('https://images.unsplash.com/photo-1621693155263-bccdf1fb0cb8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
} 

/* .signup-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* h2 {
    text-align: center;
    color: #333;
  }
   */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 45%;
    padding: 12px;
    color: #fff;
    background-color: #29b982;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
  }
  
  button:hover {
    background-color: #2bad32
    ;
  } */
  
  .error-message {
    color: #e74c3c;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Optional: Add media queries for responsiveness */
  @media screen and (max-width: 600px) {
    .signup-container {
      max-width: 100%;
    }
  }
  