<nav>
    <div class="nav-logo">
        <div class="logoImg">
            <img src="../assets/img/logo.png">
        </div>
        <div class="text">
            <h2>AwesomeTours</h2>
        </div>
    </div>
    <div class="nav-links">
        <a routerLink="home">Home</a>
        <a routerLink="tours">Tours</a>
        <a routerLink="contact">Contacts</a>
    </div>
    <div class="nav-signIN">
        <a class="btn btn--green btn--small eii" routerLink="/signup">Sign Up</a>
        <a class="btn btn--black btn--small ei" routerLink="/login">Sign In</a>
    </div>
</nav>
<router-outlet></router-outlet>