<nav class="sm-12">
  <div class="nav-logo">
    <div class="logoImg">
      <img src="../assets/img/logo.png" />
    </div>
    <div class="text">
      <h2>AwesomeTours</h2>
    </div>
  </div>
  <div class="nav-links" fxHide.lt-md>
    <a routerLink="home">Home</a>
    <a routerLink="tours">Tours</a>
    <a routerLink="contact">Contacts</a>
  </div>
  <div class="nav-signIN eii" fxHide.lt-md>
    <Button
      class="btn btn--green btn--small"
      routerLink="/signup"
      *ngIf="!isLoggedIn"
      >Sign Up</Button
    >
    <Button
      class="btn btn--black btn--small"
      routerLink="/login"
      *ngIf="!isLoggedIn"
      >Sign In</Button>
    <Button
      class="btn btn--black btn--small"
      routerLink="/profile"
      *ngIf="isLoggedIn"
      >Profile</Button
    >
  </div>
  <div class="mobile" fxHide.gt-sm (click)="toggleMenu()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="icons"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </div>
</nav>
<div class="menu-content" *ngIf="isMenuOpen">
  <ul (click)="toggleMenu()">
    <li routerLink="home">HOME</li>
    <li routerLink="tours">TOURS</li>
    <li>CONTACTS</li>
    <li routerLink="login" *ngIf="!isLoggedIn">SIGNIN</li>
    <li routerLink="signup" *ngIf="!isLoggedIn">SIGNUP</li>
    <li *ngIf="isLoggedIn">Profile</li>
  </ul>
</div>
<router-outlet></router-outlet>
