<nav>
    <div class="nav-logo">
        <div class="logoImg">
            <img src="../assets/img/logo.png">
        </div>
        <div class="text"><h2>AwesomeTours</h2></div>
    </div>
    <div class="nav-links">
        <a routerLink="home">Home</a>
        <a routerLink="tours">Tours</a>
        <a routerLink="contact">Contacs</a>
    </div>
    <div class="nav-signIN">
        <Button class="button-green" routerLink="/signup">Sign Up</Button>
        <Button class="button-yellow" routerLink="/login">Sign In</Button>
    </div>
</nav>
<router-outlet></router-outlet>
