<div class="main">
  <div class="user-view">
    <nav class="user-view__menu">
      <ul class="side-nav">
        <li [class.side-nav--active]="activeNavItem === true">
          <a routerLink="#">
            <svg>
              <use xlink:href="../../../assets/img/icons.svg#icon-settings"></use>
            </svg>
            Settings
          </a>
        </li>
        <li [class.side-nav--active]="activeNavItem === 'my-tours'">
          <a routerLink="my-tours">
            <svg>
              <use
                xlink:href="../../../assets/img/icons.svg#icon-briefcase"
              ></use>
            </svg>
            My bookings
          </a>
        </li>
        <li [class.side-nav--active]="activeNavItem === 'my-reviews'">
          <a routerLink="#">
            <svg>
              <use xlink:href="../../../assets/img/icons.svg#icon-star"></use>
            </svg>
            My reviews
          </a>
        </li>
        <li [class.side-nav--active]="activeNavItem === 'billing'">
          <a routerLink="#">
            <svg>
              <use xlink:href="../../../assets/img/icons.svg#icon-credit-card"></use>
            </svg>
            Billing
          </a>
        </li>
        <li *ngIf="currentUser.role === 'admin'">
          <div class="admin-nav">
            <h5 class="admin-nav__heading">Admin</h5>
            <ul class="side-nav">
              <li [class.side-nav--active]="activeNavItem === 'manage-tours'">
                <a routerLink="/manage-tours">
                  <svg>
                    <use xlink:href="../../../assets/img/icons.svg#icon-map"></use>
                  </svg>
                  Manage tours
                </a>
              </li>
              <li [class.side-nav--active]="activeNavItem === 'manage-users'">
                <a routerLink="/manage-users">
                  <svg>
                    <use xlink:href="../../../assets/img/icons.svg#icon-users"></use>
                  </svg>
                  Manage users
                </a>
              </li>
              <li [class.side-nav--active]="activeNavItem === 'manage-reviews'">
                <a routerLink="/manage-reviews">
                  <svg>
                    <use xlink:href="../../../assets/img/icons.svg#icon-star"></use>
                  </svg>
                  Manage reviews
                </a>
              </li>
              <li
                [class.side-nav--active]="activeNavItem === 'manage-bookings'"
              >
                <a routerLink="/manage-bookings">
                  <svg>
                    <use xlink:href="../../../assets/img/icons.svg#icon-briefcase"></use>
                  </svg>
                  Manage bookings
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div class="user-view__content">
      <div class="user-view__form-container">
        <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
        <form class="form form-user-data" (submit)="submitUserData(this.currentUser)">
          <div class="form__group">
            <label class="form__label" for="name">Name</label>
            <input
              id="name"
              class="form__input"
              type="text"
              [value]="this.currentUser.name"
              [(ngModel)]="this.currentUser.name"
              required
              name="name"
            />
          </div>
          <div class="form__group ma-bt-md">
            <label class="form__label" for="email">Email address</label>
            <input
              id="email"
              class="form__input"
              type="email"
              [value]="this.currentUser.email"
              [(ngModel)]="this.currentUser.email"
              required
              name="email"
            />
          </div>
          <div class="form__group form__photo-upload">
            <img
              class="form__user-photo"
              [src]="'/img/users/' + this.currentUser.photo"
              [alt]="user.name"
            />
            <input
              class="form__upload"
              type="file"
              accept="image/*"
              id="photo"
              name="photo"
              (change)="onPhotoChange($event)"
            />
            <label for="photo">Choose new photo</label>
          </div>
          <div class="form__group right">
            <button class="btn btn--small btn--green" type="submit">
              Save settings
            </button>
          </div>
        </form>
      </div>
      <hr class="line" />
      <div class="user-view__form-container">
        <h2 class="heading-secondary ma-bt-md">Password change</h2>
        <form class="form form-user-password" (submit)="submitPassword()">
          <div class="form__group">
            <label class="form__label" for="password-current"
              >Current password</label
            >
            <input
              id="password-current"
              class="form__input"
              type="password"
              placeholder="••••••••"
              required
              minlength="8"
            />
          </div>
          <div class="form__group">
            <label class="form__label" for="password">New password</label>
            <input
              id="password"
              class="form__input"
              type="password"
              placeholder="••••••••"
              required
              minlength="8"
            />
          </div>
          <div class="form__group ma-bt-lg">
            <label class="form__label" for="password-confirm"
              >Confirm password</label
            >
            <input
              id="password-confirm"
              class="form__input"
              type="password"
              placeholder="••••••••"
              required
              minlength="8"
            />
          </div>
          <div class="form__group right">
            <button
              class="btn btn--small btn--green btn--save-password"
              type="submit"
            >
              Save password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
