<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> ABOUT US | </title>
</head>

<body>
    <section class="about">
        <div class="content">
            <div class="image">
                <img class="boyImg"
                    src="https://st2.depositphotos.com/2931363/6569/i/450/depositphotos_65699901-stock-photo-black-man-keeping-arms-crossed.jpg"
                    alt="stock photo">
                <img class="girlImg"
                    src="https://media.istockphoto.com/id/1357935536/photo/happy-businesswoman-sitting-on-her-desk-using-her-tablet.jpg?s=612x612&w=0&k=20&c=XISUq0dPqYqpfL1wnUX0L0AHTngKJ9JS8zFSoODvvTc="
                    alt="stock photo">
            </div>
            <h1 class="title">ABOUT US</h1>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum ante et fermentum
                    fringilla. Nulla rhoncus at ipsum at pretium. Curabitur quis mi eu nibh placerat posuere ut eget
                    tortor. Vivamus volutpat ipsum sit amet luctus commodo. Mauris quis neque vel enim laoreet tincidunt
                    et nec arcu. Sed et tincidunt tellus. Phasellus ac sollicitudin eros, sed mollis felis. Nunc nisl
                    augue, porttitor ac vulputate nec, rhoncus at leo. Vivamus in erat magna. Phasellus erat ipsum,
                    egestas in sapien et, mattis congue lorem. Quisque tincidunt urna non odio sodales rutrum. Curabitur
                    fermentum finibus sapien pellentesque ullamcorper.</p>
                <p> Nulla sapien tellus, tincidunt sed porta et, consectetur maximus neque. Vivamus ut aliquam orci.
                    Donec nisl lacus, consectetur id elementum sollicitudin, convallis vehicula nisl. Quisque id
                    volutpat turpis. Ut ac tempus arcu. Suspendisse augue lectus, efficitur sit amet est vitae, faucibus
                    laoreet nibh. Maecenas tristique diam ut nunc pellentesque pellentesque.</p>
            </div>
            <div class="data">
                <h3>9 Immersive Experiences</h3>
                <h3>4.3+ Overall Rating</h3>
                <h3>180k Reviews</h3>
            </div>
            <h1 class="title"> Our Process
            </h1>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium venenatis risus, ut tempor elit
                porta a. Fusce et magna vitae neque euismod suscipit. Quisque ut diam est. Donec vel felis non leo
                sodales malesuada et in nunc. Aenean interdum ut metus eu vestibulum. Fusce in accumsan massa.

            </p>
        </div>
    </section>
</body>

</html>